.box{
     display: flex;
    flex-direction: row;
   justify-content:space-between;
} 
.modalh1{
    justify-content: center;
  font-size: 40px;
  font-family: "Work sans";
  display: flex;
justify-content: center;
   
}
.modalbody1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 
}
.drawerbox1{
    display: flex;
  padding-bottom: 2px;
}